
body{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.2);
    border-radius: 5px;
}
body::-webkit-scrollbar {
    background:red;
    height: 5px;
    width: 5px;
}
