
body{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
button::-moz-focus-inner {
  border: 0;
}
::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.2);
    border-radius: 5px;
}
::-webkit-scrollbar {
    background: #231f34;
    height: 5px;
    width: 5px;
}