/* Estilos dark theme globales para el modal/dialog */
body .con-vs-dialog .vs-dialog-dark {
  background: rgba(0, 0, 0, 0.65);
}
body .con-vs-dialog ~ #app {
  /*   -webkit-filter: blur(3px);
  filter: blur(3px); */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
body .con-vs-dialog .vs-dialog header {
  background-color: transparent;
}
body .con-vs-dialog .vs-dialog {
  background-color: transparent;
  background-color: var(--dialog-bg);
}
body .con-vs-dialog .vs-dialog header span.after {
  background-color: transparent;
}
body .con-vs-dialog .vs-dialog header .vs-dialog-cancel {
  background-color: transparent;
  display: none;
}
body .con-vs-dialog .vs-dialog .vs-dialog-text {
  color: var(--app-text-secondary);
}
/* dark theme para componentes */
.dark-theme .vs-input--input.hasIcon {
  background-color: var(--bg-inputs);
}
.dark-theme .vs-select--input {
  background-color: var(--bg-inputs);
}
.dark-theme .vs-input--placeholder {
  color: #727272;
  top: 4px;
}
.dark-theme .span-text-validation {
  color: var(--text-small);
}


.dark-theme hr.separator {
  background-image: -webkit-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
  background-image: -moz-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
  background-image: -ms-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
  background-image: -o-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border-color: transparent;
  margin: 20px 0;
  display: block;
}